main {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container {
    width: 90%;
    height: auto;
}

h3 {
    margin-top: 20%;
}

ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
  }
  
  li {
    width: 200px;
    margin: 20px;
    list-style: none;
  }
  
  .img {
    border-radius: 15px;
  }